body {
  background: #ffa600;
  font-family: serif;
  height: 100%;
}

.wrapper {
  width: 800px;
  margin: 30px auto;
  color: #fff;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 100;
  font-size: 2.36rem;
  text-transform: uppercase;
}

#seconds,
#tens {
  font-size: 2em;
}

button {
  border-radius: 5px;
  background: #ffa600;
  color: #fff;
  border: solid 1px #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}

button:hover {
  transition: all 0.5s ease-in-out;
  background: #fff;
  border: solid 1px #fff;
  color: #ffa660;
}
